[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
pandas = "*"
pillow = "*"
pyyaml = "*"
tqdm = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3"
